:root{
 --bg-primary-brand: #4D5AE5;
 --bg-pressed-state: #404BBF;
 --c-dark: #2E2F42;
 --c-success: #31D0AA;
 --c-text:#434455;
 --c-subtle-text: #8E8F99;
 --c-accent:#E7E9FC;
 --bg-light:#F4F4FD;
 --c-modal-overlay: #2E2F42;
 --bg-hero: #2E2F42;
 --bg-white:#FFFFFF;
 --bg-modal:#FCFCFC;
 --c-white:#FFFFFF ;
 --c-brand:#4D5AE5;
 --c-state:#404BBF;
 --c-light: #F4F4FD;

}

body{
    font-family:"Roboto", sans-serif;
    font-size:16px;
    color: var(--c-text);
    background-color: var(--bg-white);

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding: 120px 0;
}

button {
    font-family: inherit;}

.container {
  width: 1158px;
  margin: 0 auto;
  padding:0 15px 0 15px;
}
/*Menu Navigation*/
.page-header{
border-bottom: 1px solid #e7e9fc;
}
.inner-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    flex-shrink: 0;
    flex-basis: 1158px;}

.header-contakts {
display: flex;
}

.nav-page{
    display: flex;
    flex-grow: 1;
    align-items: center;

}
.nav-menu{
    display: flex;
    gap: 40px;
    padding: 24px 0;
    flex-grow: 1;
}

.inner-logo{
    display: flex;
    align-items: center;
    margin: 0 156px;
    }

 .link-logo{
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif ;
    text-transform: uppercase;
    color:var(--c-brand);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
 }

.accent-n{
    color:var(--c-dark);
}

.page-header :active{
  color: var(--c-state);
}
.nav-mail{
    display: flex;
    padding: 24px 0;
    gap: 40px;
    align-items: center;
}
.nav-links{
    display: inline-block;
    font-family:"Roboto", serif;
    color:var(--c-dark);
    font-weight: 500;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 14px 0;
}

.nav-links:hover,.nav-links:focus{
color: var(--c-state);}

.nav-address{
    display: flex;
    font-style: normal;
}

.nav-contakts{
    display: flex;
   margin-right: 40px;
   color:var(--c-dark);
   font-family: Roboto;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--c-text);
}

.nav-contakts:hover,.nav-contakts:focus{
    color: var(--c-state);}

    /*List-button*/
.title-button{
    display: flex;
    font-family: "Roboto" sans-serif;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 56px;
    color: var(--c-white);
    text-align: center;
    max-width: 496px
}
.inner-button{
    display: flex;
    background: var(--bg-hero);
    width: 1158px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    }

.item-button{
    display: flex;
    padding: 16px 32px;
}
.primary-button{
    color: var(--c-white);
    background: var(--bg-primary-brand);
    font-family:"Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    display:block;
    min-width: 169px;
   height: 56px;
   border: none;
border-radius: 4px;
cursor: pointer;
}

.primary-button:hover{
    color: var(--c-white);
    background: var(--bg-pressed-state);
}

.primary-button:focus{
background:var(--bg-pressed-state);
}

.list-button{
    background: var(--bg-hero);
    padding: 188px 0 188px;
    margin-bottom: 60px;
}

/*Feature*/

.list-feature{
    display: flex;
    margin-right: 24px;
    align-items: center;
    gap: 8px;
    margin: 60px 156px;
}
.title-feature{
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-dark);
    margin-bottom: 8px;
   width: calc((100% - 72px) / 4)
}

.visually-hidden {
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.text-feature{
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.02em;
    color: var(--c-text);

}

/*Team*/
.page-team{
    background: var(--bg-light);
    display: flex;
    padding: 120px 156px;
}
.list-team{
    display: flex;
    gap: 24px;
}

.title-teams{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--c-dark);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.foto-teams{
 width: ((100% - 72px) / 4);
}

.info-team{
        padding: 32px 0;
        text-align: center;
    }

.title-team{
    font-family:"Roboto" sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-dark);

}

.text-team{
font-family: "Roboto";
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--c-text);
text-align: center;
}

/*Portfolio*/
.list-portfolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.title-portfolios{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.info-portfolio{
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
}

.item-portfolio{
  width: calc((100% - 48px) / 3);
}

.title-portfolio{
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-dark);
    margin-bottom: 8px
}

.text-portfolio{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-text);
}

/*Footer*/
.page-footer{
    background: var(--bg-hero);
    padding: 100px 0;
}

.logo-footer{
    color: var(--c-brand);
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.accent-f{
    color: var(--c-light);
}

.text-footer{
   font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--c-light);
    max-width: 264px;
}